@import url(reset.css);
@import url(variables.css);

body {
	font-family: Arial, Helvetica, sans-serif;
}


/*------------
  CONTAINER  
-------------*/
.container {
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


/*------------
  HEADER  
-------------*/
.header{
	padding: 40px 0px;
	width: 100vw;
	height: 400px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: var(--color-secondary);
	border: 1px solid var(--color-secondary);
	border-bottom-left-radius: 1px;
	clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 60%);

}

.header h3{
	font-size: 16px;
	color: var(--color-light);
}

.header h1{
	color: var(--color-light);
	font-size: 36px;
	margin-bottom: 30px;
}
.header span{
	color: var(--color-light);
}


/*------------
  NAVIGATION  
-------------*/
.navigation{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 40px;
	padding: 55px;
}

.navigation a{
	padding: 10px 25px;
	color: var(--color-primary);
	background-color: var(--color-light);
	border-radius: 4px;
	border: none;
	text-align: center;
	box-shadow: 0px 0px 3px black;
	text-decoration: none;
}

/*------------
  MAIN CONTENT  
-------------*/

.main-content{
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 90px;
	margin-bottom: 200px;
}

/*------------
  ALGORITHM SECTION 
-------------*/

.algorithm-section{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 90px;
}

.algorithm-section .text-content{
	width: 60%;
	display: flex;
	flex-direction: column;
	gap: 20px;
	color: var(--color-secondary);
	text-align: left;
}

.algorithm-section .text-content h2{
	font-size: 20px;
	font-weight: 400;
}

.algorithm-section .text-content p{
	font-size: 14px;
}

.algorithm-section form{
	color: var(--color-primary);
	width: 40%;
	display: flex;
	flex-direction:column;
	gap: 10px;
}

.algorithm-section form.hidden{
	display: none;
}

.algorithm-section form input{
	background-color: var(--color-light);
	padding: 10px;
	border: 1px solid var(--color-secondary);
}

.algorithm-section form input.alert{
	border: 1px solid red
}

.algorithm-section form button{
	background-color: var(--color-light);
	padding: 10px;
	border: 1px solid var(--color-secondary);
	border-radius: 4px;
}

.div-success h3{
	color: rgb(44, 168, 81);
	border: 1px solid var(--color-primary);
	border-radius: 10px;
	text-align: center;
	padding: 10px;
	box-shadow: 0px 0px 5px rgb(44, 168, 81);
}

.div-success.hidden{
	display: none;
}

/*------------
  API SECTION // PRODUCT SECTION  
-------------*/

.api-section{
	display: flex;
	flex-direction: column;
	align-items: center;
 	justify-content: center;
	color: var(--color-primary);
	max-width: 100%;
	width: 100%;
}

.api-section .div-title{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 20px;
	width: 70vw;
	color: var(--color-primary);
} 

.api-section .div-title h2{
	width: 33%;
	text-align: center;
}

.api-section .div-title span{
	border: 1px solid var(--color-primary);
	height: 1px;
	width: 33%;
}

.api-section .products-wrapper{
	display: grid;
	grid:200px / auto auto auto auto;
	column-gap: 67px;
	row-gap: 100px;
	padding: 100px 0px;
	/* grid-template-columns: 25% 25% 25% 25%; */
}

.api-section .products-wrapper .products-box{
	padding: 10px;
	width: 250px;
	display: flex;
	flex-direction: column;
	gap: 5px;
	justify-content: center;
	text-align: left;
}

.api-section .products-wrapper .products-box img{
	border: 1px solid black;
	width: 100%;
}

.api-section .products-wrapper .products-box p {
	font-size: 12px;
}

.api-section .products-wrapper .products-box h4{
	font-size: 14px;
	text-align: left;
}

.api-section .products-wrapper .products-box{
	font-size: 16px;
}

.api-section .products-wrapper .products-box span{
	font-size: 12px;
}

.api-section .products-wrapper .products-box .btn-buy{
	display: block;
	padding: 7px;
	background-color: var(--color-light);
	border: 1px solid var(--color-secondary);
	border-radius: 4px;
	width: 100%;
}

.api-section .btn-more-products{
	width: 40%;
	padding: 15px;
	background-color: var(--color-light);
	color: var(--color-secondary);
	border-radius: 4px;
	border: 1px solid var(--color-secondary);
	margin-bottom: 30px;
}


/*------------
  SHARE SECTION  
-------------*/

.share-section{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 70px;
}

.share-section .div-title{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 20px;
	width: 70vw;
	color: var(--color-primary);
}

.share-section .div-title h2{
	width: 33%;
	text-align: center;
}
.share-section .div-title span{
	border: 1px solid var(--color-primary);
	height: 1px;
	width: 33%;
}

.share-section p{
	color: var(--color-secondary);
}

.share-section form{
	display: flex;
	flex-direction: column;
	gap: 80px;
	align-items: center;
}

.input-wrapper{
	width: 100%;
	display: flex;
	flex-direction: column;
	color: var(--color-secondary);
}

.share-section form .inputs{
	display: flex;
	justify-content: space-around;
	gap: 100px;
}

.share-section form.hidden{
	display: none;
} 

.share-section form .inputs .input-wrapper input{
	width: 340px;
	padding: 10px;
}

.share-section form .inputs .input-wrapper input.alert{
	border: 1px solid red;
}

.div-success-friend h3{
	color: rgb(44, 168, 81);
	border: 1px solid var(--color-primary);
	border-radius: 10px;
	text-align: center;
	padding: 10px;
	box-shadow: 0px 0px 5px rgb(44, 168, 81);
}

.div-success-friend.hidden{
	display: none;
}

.share-section button{
	display: block;
	padding: 10px;
	font-size: 18px;
	font-weight: 400;
	color: var(--color-primary);
	width: 35%;
	border: 1px solid var(--color-secondary);
	background-color: var(--color-light);
	border-radius: 4px;
}


/*------------
  FOOTER CONTENT 
-------------*/

.footer{
	background-color: var(--color-secondary);
	width: 100vw;
	height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: var(--color-light);
	clip-path: polygon(0 17%, 100% 0, 100% 100%, 0% 100%);
}